header {
  margin: 4px;
}

body {
  margin: 0;
}


header a {
  color:#444;
  text-decoration: none;
}

header .container {
  background-color: #f1f1f1;
  border-style: solid;
  border-color: #444;
  border-radius: 7px;
  display: flex;
  padding: 5px 10px;
  justify-content: left;
}

.navitem{
  background-color: #f1f1f1;
  border-style: solid;
  border-color: #444;
  border-radius: 10px;
  padding: 2px 20px;
  margin: 5px;
}