header {
  padding: 0.2%;
}

.App {
  padding: 2px;
  background-color: #a0a0a0;
}


header a {
  color:#444;
  text-decoration: none;
}

header .containerNav {
  background-color: #fff;
  border-style: solid;
  border-color: #444;
  border-radius: 7px;
  display: flex;
  justify-content: left;
  width: 100%;
}

.navitem{
  background-color: #f2f2f2;
  border-style: solid;
  border-color: #444;
  border-radius: 10px;
  padding: 2px 20px;
  margin: 5px;
}

.card{
  margin: 0.2%;
  min-height: 90.3vh;
  border-color: #444;
}