header {
  padding: 0.2%;
}

.App {
  padding: 2px;
  background-color: #212529;
  min-height: 100%;
}

header a {
  color: #444;
  text-decoration: none;
}

header .containerNav {
  background-color: #fff;
  border-style: solid;
  border-color: #444;
  border-radius: 7px;
  display: flex;
  justify-content: left;
  width: 100%;
}

.navitem {
  background-color: #f2f2f2;
  border-style: solid;
  border-color: #444;
  border-radius: 10px;
  padding: 0.1vw 0.5vw;
  margin: 0.6vw;
}

.card {
  margin: 0.2%;
  min-height: 90vh;
  border-color: #444;
  padding: 0.5rem;
}

.adminPage {
  padding: 1rem;
  margin-inline: auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(48vw, 1fr));
  min-height: 91vh;
}

.adminPage > .card {
  min-height: 40vh;
}

.changeCard {
  max-height: 70vh;
  min-height: 70vh;
  max-width: 48vw;
  min-width: 48vw;
  padding: 0.5rem;
  margin: auto;
}

@media (max-width: 990px) {
  .changeCard {
    max-width: 60vw;
    min-width: 60vw;
    min-height: 37vh;
    max-height: 37vh;
    padding: 0.5rem;
  }
}

.nextMatchesPage {
  padding: 0.5rem;
  max-height: 90vh;
}

.messageItem span {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
